*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'General Sans', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    height: auto;
    width: 100%;
}
